body{
  background-color: cadetblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userInfo{
  text-align: center;
}
.inputs-bars input{
  display: block;
  margin-bottom: 10px;

}
.inputs-bars button{
  margin-top: 10px;
  text-align: center;
  width: 100%;
}